<!-- <div ng-controller="TilesController">
  <div ng-include="'views/protected/tiles'" ng-if="parameters.selectedModuleType !== 'zones_controller'" ng-init="tiles.allLoaded = false" preloader></div>
</div>
 -->

<!-- <div ng-controller="ZonesController" style="height: 100%;">
  <div ng-include="'views/protected/zones'" ng-if="parameters.selectedModuleType === 'zones_controller'" style="height: 100%;"></div>
</div>
 -->

<div ng-controller="MainViewController" style="height: 100%;">
  <div ng-include="'views/protected/main_view'" style="height: 100%;"></div>
</div>
